body {
	font-family: 'open_sansregular';
	background:#ffffff;
	font-size: 100%;
	
}
.header_bg .header{
	padding: 2% 0;
}
.header_bg .logo h1 a{
	font-size: 1em;
	color: #3B3B3B;
	text-decoration: none;
	font-family: 'texgyreadventorregular';
}


.header_bg .h_search{
	width: 15%;
	position: relative;
	margin-top: 2%;
}
.header_bg .h_search form{
	width: 100%;
}


.header_bg .h_search form input[type="text"]{
	font-family: 'open_sansregular';
	padding: 10px 16px;
	outline: none;
	color: #c6c6c6;
	font-size: 13px;
	border: 1px solid rgb(236, 236, 236);
	background: #FFFFFF;
	width: 73.333%;
	line-height: 22px;
	position: relative;
	-webkit-appearance: none;
}
.header_bg .h_search form input[type="submit"]{
	font-family: 'open_sansregular';
	background: #3B3B3B;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 13px;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	width: 26.333%;
	position: absolute;
	line-height: 1.5em;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-appearance: none;
}
.header_bg .h_search form input[type="submit"]:hover {
	background: #FF5454;
}

.header_bg .h_menu{
	padding: 0;
	background: #3B3B3B;
}
.header_bg .navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0px;
	border: none;
}
.header_bg .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background: #3B3B3B;
	color: #ffffff;
	padding: 0;
}
.header_bg .navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a,  .navbar-default .navbar-nav > .active > a:hover{
	background: #FF5454;
	color: #ffffff;
}
.header_bg .navbar-default .navbar-nav > li > a {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.header_bg .soc_icons ul{
	margin-bottom: 0;
}
.header_bg .soc_icons ul li{
	display:inline-block;
	border-left: 1px solid rgb(39, 37, 37);
	margin-left: -3px;
}
.header_bg .soc_icons ul li a{
	color:#ffffff;
	font-size: 24px;
	display: block;
	line-height: 60px;
	width: 70px;
	height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.header_bg .soc_icons ul li a:hover{
	background: #FF5454;
}
